.nav {
  background-color: #437adb;
  color: white;
  display: flex;
  gap: 20px;
  padding: 15px;
}

.nav a:hover {
  cursor: pointer;
}
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  top: -130px;
  color: #0c47a7;
  text-align: center;
}
.main {
  /* position: relative; */
  /* border: 1px red solid; */
  padding: 150px 50px;
  padding-top: 50px;
  border-radius: 8px;
  background-color: #437bdb48;
  /* max-width: ; */
}

.notfoundTitle {
  text-align: center;
}
.notfoundBtn {
  width: 50%;
  max-width: 300px;
  text-align: center;
  border: none;
  background: #437adb;
  border-radius: 4px;
  padding: 15px;
  color: white;
  /* position: relative; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section {
  position: relative;
  background: #ecf2fb;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.section p {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.reset {
  /* position: absolute; */
  right: 0;
  /* float: right; */
  top: -30px;
  color: #000;
  border: none;
  background-color: #ecf2fb;
  padding: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.buttonIncrease,
.buttonDecrease {
  border: none;
  background: #437adb;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  color: white;
}

.buttonDecrease {
  padding: 5px;
  color: white;
  border: none;
  border-radius: 4px;
  width: 50px;
}

.countvalue {
  font-size: 20px;
  font-weight: 900;
}

.buttonValue {
  background: #437adb;
  border: none;
  padding: 15px;
  color: white;
  margin-left: 10px;
}

.input {
  padding: 15px;
  border-color: #437adb;
  border: none;
}

.form {
  margin-top: 10px;
}
